<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dating Profile Site</title>
    <link charset="utf-8" href="/main.css" media="screen" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <script charset="utf-8" src="/main.js"></script>
  </body>
</html>
